examples/006_msg_enum_collision/msg_enum_collision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/collision"
           xmlns:tns="http://example.com/collision"
           elementFormDefault="qualified">

    <!-- Message named Status -->
    <xs:complexType name="Status">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Enum also named Status -->
    <xs:simpleType name="Status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"/>
            <xs:enumeration value="ERROR"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
